In [6]:
import pandas as pd

df  = pd.DataFrame(columns=['num', 'sqr'])

for i in range(10):
    x = {'num': i, 'sqr': i*i}
    print(x)
    df = df.append(x, ignore_index=True)
    
df

{'num': 0, 'sqr': 0}
{'num': 1, 'sqr': 1}
{'num': 2, 'sqr': 4}
{'num': 3, 'sqr': 9}
{'num': 4, 'sqr': 16}
{'num': 5, 'sqr': 25}
{'num': 6, 'sqr': 36}
{'num': 7, 'sqr': 49}
{'num': 8, 'sqr': 64}
{'num': 9, 'sqr': 81}

  num sqr
0   0   0
1   1   1
2   2   4
3   3   9
4   4  16
5   5  25
6   6  36
7   7  49
8   8  64
9   9  81